.body{
    width: 80%;
    height: auto; 
    margin: auto;
    margin-top: 10vh;
}
.h1 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif !important;
}
.table {
  position: relative;
  width: 100%;
  white-space: wrap;
  overflow: auto;
  border-collapse: collapse;
}
.th {
  text-align: left;
  background-color: #f58634;
  color: white;
  padding: 10px;
}
.td {
  padding: 7px;
  font-family: "Source Sans Pro", sans-serif !important;
  cursor: pointer;
}
