@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.login {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 26vw;
  height: 55vh;
  margin: 5vw;
  border-radius: 5px;
  background-color: #f58634;

  position: relative;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Open Sans", sans-serif;
}
.loginMessage {
  width: 70%;
  /* padding: 3px; */
  /* background-color: white; */
  /* color: red; */
  position: absolute;

  bottom: 100%;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  /* margin-bottom: 40px; */
}
.innerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10%;
  position: relative;
}
.innerLogin input {
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 4px;
  padding-left: 20px;
  height: 30px;
  width: 90%;
  border: none;
  outline: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}
.innerLogin ::placeholder {
  font-family: "Open Sans", sans-serif;
}
.innerLogin button:hover {
  cursor: pointer;
}
.innerLogin input:hover {
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 4vw;
  bottom: 51%;
  color: #f58634;
}

.icon:hover {
  cursor: pointer;
}

.LoginButton {
  border: none;
  outline: none;
  padding: 10px;
  height: 40px;
  padding-left: 20px;
  width: 97%;
  margin-top: 20px;
  border-radius: 2px;
  background-color: #ffc288;

  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.LoginButton:hover {
  background-color: #f8a488;
  color: white;
}
@media only screen and (max-width: 1200px) {
  .login {
    width: 30vw;
  }
}
@media only screen and (max-width: 1000px) {
  .login {
    width: 50vw;
  }
  .icon {
    right: 7vw;
  }
}

@media only screen and (max-width: 653px) {
  .login {
    width: 65vw;
  }
  .icon {
    right: 10vw;
  }
}
